html {
    margin: 0;
    height: 100%;
}
body {
  background-color: lightblue;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height:100%;
  background-position: center center;
  margin:auto;
  padding:0;
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.messages {
  margin: 0;
  height: 300px;
  overflow-y: auto;
  padding-left: 0;
  font-family: Monaco, MonoSpace;
  background-color: #4b434d;
}

.messages li {
  height: 20px;
  line-height: 20px;
  font-size: 10px;
  max-width: 100%;
  vertical-align: middle;
  color: #ffffff;
  list-style-type: none;
  margin-bottom: 35px;
  margin-left: 2px;
}
